/**
* --------------------------------
* Just-Look Network - LandingPage
* Component: Section
* --------------------------------
**/

section {
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

section.main {
    padding-top: 0;
    padding-bottom: 0;
    height: calc(var(--vh, 1vh) * 100);
}

section.divider {
    height: 25vh;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
